<div>
    <div id="top-bar">
        <!--<h3>Complaints</h3>-->
        <div id="searchContainer">
            <input type="button" value="Search" id="searchButton"/>
            <input type="text" placeholder="Search" id="searchTerm" maxlength="30"/>
        </div>
    </div>
    <div class="complaintsListContainer">
        <div class="clear"></div>
        <div id="template-switcher" class="footer-switcher right">
            <ul class="btn-list">
                <li><a href="javascript:;" class="icon edit" title="Edit" id="top-bar-editBtn">4</a></li>
                <li><a href="javascript:;" class="remove icon" title="Delete" data-view-type="thumbnails" id="thumbBtn">1</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <table id="complaintList" class="complaintsList table table-bordered table-hover">
            <!--<colgroup>-->
                <!--<col width="60px"/>-->
                <!--<col width="150px"/>-->
                <!--<col width="250px"/>-->
                <!--<col/>-->
                <!--<col width="150px"/>-->
                <!--<col width="82px"/>-->
                <!--<col width="31px"/>-->
            <!--</colgroup>-->
            <thead>
                <tr class="table-header info">
                    <th>#</th>
                    <th class="oe-sortable" data-sort="author">Author<span class="arrow up icon">v</span><span class="arrow down icon">7</span></th>
                    <th class="oe-sortable" data-sort="post_title">Location<span class="arrow up icon">v</span><span class="arrow down icon">7</span></th>
                    <th class="oe-sortable" data-sort="post_body">Post comment<span class="arrow up icon">v</span><span class="arrow down icon">7</span></th>
                    <th class="oe-sortable" data-sort="created_at">Complaint date<span class="arrow up icon">v</span><span class="arrow down icon">7</span></th>
                    <th></th>
                    <th><input type="checkbox" value="" class="checkAll" /></th>
                    <!--          <th class="oe-sortable" data-sort="baned">Baned<span class="arrow up icon">v</span><span class="arrow down icon">7</span></th>-->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div class="countOnPage">
            <div>
		<span>
          <span id="grid-start">1</span>
          -
          <span id="grid-end">1</span>
          of
          <span id="grid-count">1</span>
          items
		</span>
            </div>
            <div class="pageList">
                <button id="itemsButton">
                    <span id="itemsNumber">5</span>
                </button>
                <ul class="allNumberPerPage popUp" style="display: none;">
                    <li>
                        <a class="itemsNumber" href="javascript;">5</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">10</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">20</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">50</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">100</a>
                    </li>
                </ul>
            </div>
            <span>Per Page</span>
        </div>
        <div class="nextPrev">
            <div>
                <button id="firstShowPage" class="icon" type="button" disabled="">88</button>
                <button id="previousPage" class="icon" type="button" disabled="">8</button>
                <div>
                    <span>Page</span>
                </div>
            </div>
            <div>
                <div>
                    <div class="currentShowPageContainer">
                        <input id="currentShowPage" type="text" disabled="true">
                    </div>
                    <div class="allPage">
                        <button class="currentPageList icon">v</button>
                        <ul id="pageList" class="allNumberPerPage popUp" style="display: none;">
                            <li class="showPage">1</li>
                            <li class="showPage">2</li>
                            <li class="showPage">3</li>
                            <li class="showPage">4</li>
                            <li class="showPage">5</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
		<span>
          of
          <span id="lastPage">1</span>
		</span>
            </div>
            <button id="nextPage" type="button" class="icon">9</button>
            <button id="lastShowPage" type="button" class="icon">99</button>
        </div>

    </div>
    <div class="clear">
    </div>
</div>
