<div class="create_user">

    <div id="uploadInfo">
        <table>
            <tr>
                <td>
                    <label>First name</label>
                </td>
                <td>
                    <input type="text" placeholder="First name" id="firstName" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Last name</label>
                </td>
                <td>
                    <input type="text" placeholder="Last name" id="lastName" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="text" placeholder="Email" id="email" maxlength="30"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="text" placeholder="Password" id="password" maxlength="30"/>
                </td>
            </tr>
        </table>
    </div>

    <hr/>
</div>
