<div class="edit_user">

    <div id="uploadInfo">
        <table>
            <tr>
                <td>
                    <label>Author_id</label>
                </td>
                <td>
                    <input type="text" placeholder="Author_id" id="author" value="<%=_.escape(model.author_id)%>" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Post_id</label>
                </td>
                <td>
                    <input  type="text" id="post_id"  placeholder="Post_id" value="<%=_.escape(model.post_id)%>" maxlength="30"/>
                </td>
            </tr>


        </table>
    </div>
</div>
