<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="vPhotoCtrl.closeWindow()"></i>
    </div>
    <h3>Violation details</h3>
    <hr>
    <table class="table table-bordered table-hover table-full-width table-striped">
        <tr>
            <td>Fields</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>Flag ID</td>
            <td>{{vPhotoCtrl.violation.id}}</td>
        </tr>
        <tr>
            <td>Flag owner</td>
            <td>{{vPhotoCtrl.violation.user.first_name}} {{vPhotoCtrl.violation.user.last_name}}</td>
        </tr>
        <tr>
            <td>Photo owner</td>
            <td>{{vPhotoCtrl.violation.owner.first_name}} {{vPhotoCtrl.violation.owner.last_name}}</td>
        </tr>
        <tr>
            <td>No. Of Likes</td>
            <td>{{vPhotoCtrl.violation.source.likes_count || 0}}</td>
        </tr>
        <tr>
            <td>Images</td>
            <td><img ng-src="{{vPhotoCtrl.violation.source.image_url}}" /></td>
        </tr>
    </table>
</div>
