<a ng-click="menuCtrl.showMenu()">
    <i class="fa fa-envelope"></i>
    <span class="badge" ng-show='newSystemChanges'></span>
</a>
<ul class="mail-menu" ng-show="menuCtrl.showMails" data-toggle="dropdown">
    <li class="top">
        <h4>You have {{menuCtrl.newMsgCount}} new messages <a ng-click="menuCtrl.closeMenu()"><i class="fa fa-close"></i></a></h4>
    </li>
    <li>
        <ng-include src="'/templates/menu/message/messageList.html'"></ng-include>
    </li>
    <li class="bottom">
        <a href="/#/violation/comments" ng-click="menuCtrl.closeMenu()"><span>Check all messages<i class="fa fa-sm fa-angle-right" ></i></span></a>
    </li>
</ul>
