<div class="create_feedback">
    <div id="uploadInfo">
        <table>
            <tr>

                <td>
                    <textarea  placeholder="Feedback" autofocus id="Feedback" cols="70" maxlength="300"></textarea>
                </td>
            </tr>

        </table>
    </div>
    <div class="cropImages form" style="display:none;">
        <div class="image_input" style="float: left;margin-right: 20px;"></div>
        <img class="image_output"/>

        <div class="clear"></div>
    </div>
</div>
