<div class="edit_feedback">
    <div id="uploadInfo">
        <table>
            <tr>

                <td>
                    <p  id="Feedback" autofocus cols="60" maxlength="300"><%=_.escape(model.body)%></p>
                </td>
            </tr>


        </table>
    </div>
    <div class="cropImages form" style="display:none;">

        <div class="image_input" style="float: left;margin-right: 20px;"></div>
        <img class="image_output"/>

        <div class="clear"></div>
    </div>
    <hr/>
</div>
