<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="eUserCtrl.closeWindow()"></i>
    </div>
    <h3>User details</h3>
    <hr>
    <form ng-submit="eUserCtrl.update()">
        <table class="table table-bordered table-hover table-full-width table-striped">
            <tr>
                <td>Fields</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>User ID</td>
                <td>{{eUserCtrl.user.id}}</td>
            </tr>
            <tr>
                <td>First name</td>
                <td><input
                    ng-model="eUserCtrl.user.first_name"
                    class="form-control"
                    maxlength="150"
                    ></td>
            </tr>
            <tr>
                <td>Last name</td>
                <td><input
                    ng-model="eUserCtrl.user.last_name"
                    class="form-control"
                    maxlength="150"
                    ></td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{eUserCtrl.user.email}}</td>
            </tr>
            <tr>
                <td>Date Joined</td>
                <td>{{eUserCtrl.user.created_at}}</td>
            </tr>
            <tr ng-click="eUserCtrl.showPosts()">
                <td>Linked Content</td>
                <td>{{eUserCtrl.user.posts_count || 0}}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td ng-click="eUserCtrl.resetPassword()"><span><strong>RESET</strong></span></td>
            </tr>
            <tr>
                <td>Privacy Settings</td>
                <td>{{eUserCtrl.user.profile.privacy}}</td>
            </tr>
            <tr>
                <td>Profile Image</td>
                <td><img ng-src="{{eUserCtrl.user.newImage || eUserCtrl.user.avatar_url}}" width="150px"></td>
            </tr>
            <!--<tr>
                <td>Upload new image</td>
                <td>
                    <input type="file" id="fileInput" fileread filepath='eUserCtrl.user.newImage' />
                </td>
            </tr>-->
            <tr ng-click="eUserCtrl.showFollowers()">
                <td>Followers</td>
                <td>{{eUserCtrl.user.followers_count || 0}}</td>
            </tr>
            <tr ng-click="eUserCtrl.showFollowing()">
                <td>Following</td>
                <td>{{eUserCtrl.user.following_count || 0}}</td>
            </tr>

        </table>
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" ng-click="eUserCtrl.delete($event)">Delete</button>
    </form>
</div>
