<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="vUserCtrl.closeWindow()"></i>
    </div>
    <h3>User details</h3>
    <hr>
    <table class="table table-bordered table-hover table-full-width table-striped">
        <tr>
            <td>Fields</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>User ID</td>
            <td>{{vUserCtrl.user.id}}</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>{{vUserCtrl.user.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{vUserCtrl.user.last_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{vUserCtrl.user.email}}</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>{{vUserCtrl.user.created_at|date:"MM/dd/yyyy"}}</td>
        </tr>
        <tr>
            <td>Linked Content</td>
            <td>{{vUserCtrl.user.posts_count || 0}}</td>
        </tr>
        <tr>
            <td>Privacy Settings</td>
            <td>{{vUserCtrl.user.profile.privacy}}</td>
        </tr>
        <tr>
            <td>Profile Image</td>
            <td><img ng-src="{{vUserCtrl.user.avatar_url}}" width="150px"></td>
        </tr>
        <tr>
            <td>Followers</td>
            <td>{{vUserCtrl.user.followers_count || 0}}</td>
        </tr>
        <tr>
            <td>Following</td>
            <td>{{vUserCtrl.user.following_count || 0}}</td>
        </tr>
    </table>
</div>
