<div>
  <form id="loginForm">
    <fieldset>
      <h2>Login to your account</h2>
      <p>
        <div class="error"></div>
        <div class="icon-login">
          <span class="icon"></span>
          <input type="text" placeholder="Username" id="ulogin" name="ulogin" value="admin@admin.com" autofocus maxlength="30"/>
        </div>
      </p>
      <p>
        <div class="icon-pass">
          <span class="icon"></span>
          <input type="password" placeholder="Password" id="upass" name="upass" value="111111" maxlength="30"/>
        </div>
      </p>
      <a class="login-button" href="javascript:;">Login</a>
	</fieldset>
  </form>
</div>
