<div class="login-wrapper">
    <div class="login-logo">
        <img src="images/logo.png">
    </div>
    <form ng-submit="loginCtrl.signIn(loginCtrl.user)" class="login-form">
        <div>
            <div class="form-group">
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    ng-model="loginCtrl.user.email"
                    maxlength="60"
                    placeholder="Email Address/Username"
                    required>
            </div>
            <div class="form-group">
                <input
                    type="password"
                    name="password"
                    class="form-control"
                    ng-model="loginCtrl.user.password"
                    maxlength="60"
                    placeholder="Password"
                    required>
            </div>
            <div class="form-group">
                <button class="btn btn-info form-control">
                    SIGN IN
                </button>
            </div>
        </div>
    </form>
</div>