<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="ePostCtrl.closeWindow()"></i>
    </div>
    <h3>Post details</h3>
    <hr>
    <form ng-submit="ePostCtrl.updatePost()">
        <table class="table table-bordered table-hover table-full-width table-striped">
            <tr>
                <td>Fields</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>User ID</td>
                <td>{{ePostCtrl.post.owner.id}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ePostCtrl.post.owner.first_name}} {{ePostCtrl.post.owner.last_name}}</td>
            </tr>
            <tr>
                <td>Date posted</td>
                <td>{{ePostCtrl.post.created_at|date: "MM/dd/yyyy"}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea ng-model="ePostCtrl.post.description"  class="form-control"></textarea></td>
            </tr>
            <tr>
                <td>Shared</td>
                <td>
                    <span ng-show="ePostCtrl.post.facebook">Facebook</span>
                    <span ng-show="ePostCtrl.post.instagram">Instagram</span>
                    <span ng-show="ePostCtrl.post.twitter">Twitter</span>
                </td>
            </tr>
            <tr>
                <td>Hashtags</td>
                <td>
                    <ul>
                        <li ng-repeat="hashtag in ePostCtrl.post.hashtags">{{hashtag.hash_tag}}</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Images</td>
                <td class="row">
                    <div class="col-md-12" ng-repeat="image in ePostCtrl.post.images track by $index">
                        <span >
                            <img ng-src="{{image.image_url}}"  width="150px;">
                            <button type="button" class="fa fa-thumbs-o-up" ng-click="ePostCtrl.showLikeList(image.id, image.likes_count)">
                                <span aria-hidden="true">{{image.likes_count}}</span>
                            </button>
                            <button type="button" class="close" ng-click="ePostCtrl.deleteImage(image)"><span aria-hidden="true">&times;</span></button>
                        </span>
                    </div>
                    <div class="col-md-12" ng-repeat="image in ePostCtrl.newImages track by $index">
                        <span >
                            <img ng-src="{{image.image_url}}"  width="150px;">
                            <button type="button" class="close" ng-click="ePostCtrl.deleteImage($index)"><span aria-hidden="true">&times;</span></button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr ng-click="ePostCtrl.showCommentList()">
                <td>Comments</td>
                <td>{{ePostCtrl.post.comments_count}}</td>
            </tr>
            <tr>
                <td>Start date</td>
                <td>{{ePostCtrl.post.created_at|date: "MM/dd/yyyy"}}</td>
            </tr>
            <tr>
                <td>End date</td>
                <td>{{ePostCtrl.post.end_datetime|date: "MM/dd/yyyy"}}</td>
            </tr>
            <tr>
                <td>Privacy</td>
                <td>{{ePostCtrl.post.privacy}}</td>
            </tr>
        </table>

        <button class="btn btn-success" ng-click="ePostCtrl.save()">Save</button>
        <button class="btn btn-danger" ng-click="ePostCtrl.delete()">Delete</button>
    </form>
</div>
