<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="ePostCtrl.closeWindow()"></i>
    </div>
    <h3>Post details</h3>
    <hr>
    <form ng-submit="ePostCtrl.updatePost()">
        <table class="table">
            <tr>
                <td>Fields</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>User ID</td>
                <td>{{ePostCtrl.post.owner.id}}</td>
            </tr>
            <tr>
                <td>Username</td>
                <td>{{ePostCtrl.post.owner.username}}</td>
            </tr>
            <tr>
                <td>Date posted</td>
                <td>{{ePostCtrl.post.created_at|date:"MM/dd/yyyy"}}</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <img ng-src="{{ePostCtrl.post.images[0].image_url}}" width="150px">
                </td>
            </tr>
            <tr>
                <td>Winning Date</td>
                <td>{{ePostCtrl.post.end_datetime|date:"MM/dd/yyyy"}}</td>
            </tr>
            <tr ng-click="ePostCtrl.showCommentList()">
                <td>Comments</td>
                <td>{{ePostCtrl.post.comments_count || 0}}</td>
            </tr>
            <tr ng-click="ePostCtrl.showLikeList(ePostCtrl.post.images[0].id, ePostCtrl.post.images[0].likes_count)">
                <td>Likes</td>
                <td>{{ePostCtrl.post.images[0].likes_count || 0}}</td>
            </tr>
        </table>

        <!--<button class="btn btn-success">Save</button>-->
        <button class="btn btn-danger" ng-click="ePostCtrl.delete()">Delete</button>
    </form>
</div>
