<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Confirm your email address</title>
</head>
<body>
<table align='left' border='0' cellpadding='0' cellspacing='0'
       style='margin: 0; padding: 0;' valign='top' width='637'>
    <tr>
        <td bgcolor='#F1F1F1'
            style="padding-top: 20px; padding-right: 35px; padding-bottom: 25px; padding-left: 35px; text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400;"
            valign='bottom' width='630'>
            Welcome and thank you for registering with Elsewhere.<br>
            Please <a href="<%=url%>">click here to confirm</a> your registration and your account will be created.<br>
            You can then log and/or share your travelling experiences using the App and post to your favourite social media site.
            If you encounter access issues please contact: <a href="mailto:neptunedesign0@gmail.co">neptunedesign0@gmail.com</span></a>
        </td>
        <td width='7'></td>
    </tr>
</table>


</body>
</html>