<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="vPostCtrl.closeWindow()"></i>
    </div>
    <h3>WINNING POST DETAILS</h3>
    <hr>
    <table class="table table-bordered table-hover table-full-width table-striped">
        <tr>
            <td>Fields</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>User ID</td>
            <td>{{vPostCtrl.post.owner.id}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{vPostCtrl.post.owner.username}}</td>
        </tr>
        <tr>
            <td>Date posted</td>
            <td>{{vPostCtrl.post.created_at|date:"MM/dd/yyyy"}}</td>
        </tr>
        <tr>
            <td>Image</td>
            <td>
                <img ng-src="{{vPostCtrl.post.images[0].image_url}}" width="150px">
                <button type="button" class="fa fa-thumbs-o-up">
                    <span aria-hidden="true">{{vPostCtrl.post.images[0].likes_count}}</span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Winning Date</td>
            <td>{{vPostCtrl.post.end_datetime|date:"MM/dd/yyyy"}}</td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>{{vPostCtrl.post.comments_count || 0}}</td>
        </tr>
        <tr>
            <td>Likes</td>
            <td>{{vPostCtrl.post.won_image.likes_count || 0}}</td>
        </tr>
    </table>
</div>
