<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="postCtrl.closeModalWindow()"></i>
    </div>
    <h2>Post list</h2>
    <div class="content">
        <div class="content-header">
            <div class="pull-left">
                <div class="counter">
                    <select
                        class="select-list btn btn-default"
                        ng-model="postCtrl.post.pagination.count"
                        ng-change="postCtrl.refreshPosts(1)">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                    <span>
                        records per page
                    </span>
                </div>
            </div>
        </div>
        <div class="content-body">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col width="50">
                    <col width="120">
                    <col width="150">
                    <col width="110">
                    <col width="119">
                </colgroup>
                <thead>
                <tr>
                    <th ng-click="postCtrl.setSortParamsFromUI('device_id')" ng-cloak> ID</th>
                    <th ng-click="postCtrl.setSortParamsFromUI('device_id')" ng-cloak> Description</th>

                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in postCtrl.postList">
                    <td ng-click="postCtrl.viewPost(item.id, item.end_datetime)">{{item.id}}</td>
                    <td>{{item.description}} </td>
                    <td>
                        <button ng-click="postCtrl.editPost(item.id, item.end_datetime)" class="btn btn-sm btn-info">Edit</button>
                        <button ng-click="postCtrl.delete(item.id)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content-footer row">
            <div class="col-md-12">
                <div class="pull-left">
                    <showing-page
                        page="postCtrl.post.pagination.page"
                        items="postCtrl.post.pagination.items"
                        count="postCtrl.post.pagination.count"
                        >
                </div>

                <div class="pull-right" ng-if="postCtrl.showPagination()">
                    <pagination
                        boundary-links="true"
                        items-per-page="postCtrl.post.pagination.count"
                        total-items="postCtrl.post.pagination.items"
                        ng-model="postCtrl.post.pagination.page"
                        ng-change="postCtrl.refreshPosts()"
                        num-pages="postCtrl.post.pagination.maxPages"
                        class="pagination-sm"
                        max-size='10'
                        rotate="false"
                        ></pagination>
                </div>
            </div>
        </div>
    </div>
</div>


