<div class="page-sidebar-wrapper">
    <div class="page-sidebar">
        <ul class="page-sidebar-menu nav navbar">
            <li>
                <a href="{{MENU.DASHBOARD}}" ng-class="{active : page === MENU.DASHBOARD}" ><i class="fa fa-fw fa-home margin-right"></i>Dashboard</a>
            </li>
            <li>
                <a href="{{MENU.USERS}}" ng-class="{active : page === MENU.USERS}" ><i class="fa fa-fw fa-male margin-right"></i>Users</a>
            </li>
            <li>
                <a href="{{MENU.CONTENT}}" ng-class="{active : page === MENU.CONTENT}" ><i class="fa fa-fw fa-mail-forward margin-right"></i>Content</a>
            </li>
            <li>
                <a href="{{MENU.VIOLATION}}" ng-class="{active : page === MENU.VIOLATION}" ><i class="fa fa-fw fa-warning margin-right"></i>Violations</a>
            </li>
        </ul>
    </div>
</div>