<div class="edit_user">
    <div id="uploadAvatar">
        <div id="add_avatar">
            <div>Upload photo</div>
            <input type="file" value="Edit" id="inputImg" accept="image/*">
            <canvas id="avatar" width="140" height="93"></canvas>
        </div>
    </div>
    <div id="uploadInfo">
        <table>
            <tr>
                <td>
                    <label>Title</label>
                </td>
                <td>
                    <input type="text" placeholder="Post title" id="title" value="<%=_.escape(model.title)%>" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Body</label>
                </td>
                <td>
                    <textarea  id="body" cols="21" maxlength="3000"><%=_.escape(model.body)%></textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <label>lon</label>
                </td>
                <td>
                    <!--<%=_.escape(model.lon)%>-->
                    <input type="text" placeholder="longtitude" id="lon" value="<%=_.escape(model.lon)%>" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>lat</label>
                </td>
                <td>
                    <!--<%=_.escape(model.lat)%>-->
                    <input type="text" placeholder="latitude" id="lat" value="<%=_.escape(model.lat)%>" maxlength="30"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Country</label>
                </td>
                <td>
                    <%=_.escape(model.country.name)%>
                   <!-- <input type="text"  id="country" value="<%=_.escape(model.country.id)%>" maxlength="30"/>-->
                </td>

            <tr>
                <td>
                    <label>City</label>
                </td>
                <td>
                    <%=_.escape(model.city.name)%>
                    <!--<input type="text"  id="city" value="<%=_.escape(model.city.id)%>" maxlength="30"/>-->
                </td>
            </tr>
        </table>
    </div>
    <div class="cropImages form" style="display:none;">

        <div class="image_input" style="float: left;margin-right: 20px;"></div>
        <img class="image_output"/>

        <div class="clear"></div>
    </div>
</div>