<% usersCollection.forEach(function(post, index){ %>
<tr data-index="<%= index %>" data-id="<%=post.id%>">
  <td class="notForm"><input type="checkbox" value="" class="checkbox" /></td>
  <td class="numberUser"><%=startNumber + index + 1 %></td>

  <td class="userName"><%=_.escape(post.author.first_name + ' ' + post.author.last_name)%></td>
  <td class="userEmail"><%=_.escape(post.author.email)%></td>
  <td class="title"><%=_.escape(post.title)%></td>
  <td class="postsBody"><%=_.escape(post.body)%></td>
  <td class="countryName"><%=_.escape(post.country.name)%></td>
  <td class="cityName"><%=_.escape(post.city.name)%></td>
  <td class="createdDate"><%=_.escape(post.created_at)%></td>
<!--  <td class="banButton">
      <button >Ban</button>
  </td>-->
  <td>
      <button class="editButton">Edit</button>
  </td>
  <td>
      <button class="deleteButton">Delete</button>
  </td>
</tr>
<% }) %>
