<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="commentCtrl.closeWindow()"></i>
    </div>
    <h3>Comments</h3>
    <hr>
    <div class="content-body">
        <table class="table table-bordered table-hover">
            <colgroup>
                <col width="50">
                <col width="120">
                <col width="150">
                <col width="110">
                <col width="119">
            </colgroup>
            <thead>
            <tr>
                <th> ID</th>
                <th> Owner</th>
                <th> Comment</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in commentCtrl.commentList">
                <td ng-click="commentCtrl.view(item.id)">{{item.id}}</td>
                <td>{{item.owner[0].first_name}} {{item.owner[0].last_name}}</td>
                <td>{{item.data}} </td>
                <td>
                    <button ng-click="commentCtrl.delete(item.id)" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="content-footer row">
            <div class="col-md-12">
                <div class="pull-left">
                    <showing-page
                        page="commentCtrl.comment.pagination.page"
                        items="commentCtrl.comment.pagination.items"
                        count="commentCtrl.comment.pagination.count"
                        >
                </div>


                <div class="pull-right" ng-if="commentCtrl.showPagination()">
                    <pagination
                        boundary-links="true"
                        items-per-page="commentCtrl.comment.pagination.count"
                        total-items="commentCtrl.comment.pagination.items"
                        ng-model="commentCtrl.comment.pagination.page"
                        ng-change="commentCtrl.getCommentList()"
                        num-pages="commentCtrl.comment.pagination.maxPages"
                        class="pagination-sm"
                        max-size='10'
                        rotate="false"
                        ></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
