<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="eCommentCtrl.closeWindow()"></i>
    </div>
    <h3>Violation comment details</h3>
    <hr>
    <form ng-submit="eCommentCtrl.updateViolation()">
        <table class="table">
            <tr>
                <td>Fields</td>
                <td>Description</td>
            </tr>
            <tr>
                <td>Flag ID</td>
                <td>{{eCommentCtrl.violation.id}}</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>{{eCommentCtrl.violation.source.created_at|date: 'MM/dd/yyyy'}}</td>
            </tr>
            <tr>
                <td>Flag reporter</td>
                <td>{{eCommentCtrl.violation.user.first_name}} {{eCommentCtrl.violation.user.last_name}}</td>
            </tr>
            <tr>
                <td>Comment owner</td>
                <td>{{eCommentCtrl.violation.owner.first_name}} {{eCommentCtrl.violation.owner.last_name}}</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>{{eCommentCtrl.violation.source.data}}</td>
            </tr>
        </table>
        <button class="btn btn-danger" ng-click="eCommentCtrl.delete()">Delete Comment</button>
        <button class="btn btn-warning" ng-click="eCommentCtrl.cancel()">Cancel flag</button>
    </form>
</div>
