<div class="wrapper">
    <ng-include src="'templates/menu/submenu/violation.html'"></ng-include>

    <div class="content">
        <div class="content-header">
            <div class="pull-left">
                <div class="counter">
                    <select
                        class="select-list btn btn-default"
                        ng-model="commentCtrl.violation.pagination.count"
                        ng-change="
                                commentCtrl.updateViolationList(1)
                        "
                        >
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                    <span>
                        records per page
                    </span>
                </div>
            </div>
            <div class="pull-right">
                <div class="searchBlock">
                    <span>Search</span>
                    <input type="text" ng-model="commentCtrl.searchTerm"
                           ng-change="commentCtrl.updateViolationList()">
                </div>
            </div>
        </div>
        <div class="content-body">
            <table class="table table-bordered table-hover">
                <colgroup>
                    <col width="50">
                    <col width="120">
                    <col width="150">
                    <col width="110">
                    <col width="110">
                    <col width="110">
                    <col width="110">
                    <col width="70">
                    <col width="119">
                </colgroup>
                <thead>
                <tr>
                    <th  ng-click="commentCtrl.sortField('id')"> ID
                        <i ng-class="commentCtrl.sortBy === 'id' ? (commentCtrl.sortOrder == 'asc' ? 'fa fa-sort-down pull-right' : 'fa fa-sort-up pull-right' ) : 'fa fa-sort pull-right'"></i>
                    </th>
                    <th ng-click="commentCtrl.sortField('users.first_name')"> Flag reporter
                        <i ng-class="commentCtrl.sortBy === 'users.first_name' ? (commentCtrl.sortOrder == 'asc' ? 'fa fa-sort-down pull-right' : 'fa fa-sort-up pull-right' ) : 'fa fa-sort pull-right'"></i>
                    </th>
                    <th ng-click="commentCtrl.sortField('owner_first_name')"> Comment Owner
                        <i ng-class="commentCtrl.sortBy === 'owner_first_name' ? (commentCtrl.sortOrder == 'asc' ? 'fa fa-sort-down pull-right' : 'fa fa-sort-up pull-right' ) : 'fa fa-sort pull-right'"></i>
                    </th>
                    <th ng-click="commentCtrl.sortField('source_created_at')"> Date Posted
                        <i ng-class="commentCtrl.sortBy === 'source_created_at' ? (commentCtrl.sortOrder == 'asc' ? 'fa fa-sort-down pull-right' : 'fa fa-sort-up pull-right' ) : 'fa fa-sort pull-right'"></i>
                    </th>
                    <th ng-click="commentCtrl.sortField('data')"> Comment
                        <i ng-class="commentCtrl.sortBy === 'data' ? (commentCtrl.sortOrder == 'asc' ? 'fa fa-sort-down pull-right' : 'fa fa-sort-up pull-right' ) : 'fa fa-sort pull-right'"></i>
                    </th>
                    <th>Flag</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in commentCtrl.violationList">
                    <td ng-click="commentCtrl.view(item.id)">{{item.id}}</td>
                    <td>{{item.user.first_name}} {{item.user.last_name}}</td>
                    <td>{{item.owner.first_name}} {{item.owner.last_name}}</td>
                    <td>{{item.created_at|date:'MM/dd/yyyy'}}</td>
                    <td>{{item.source.data}}</td>
                    <td ng-click="commentCtrl.cancel(item.id)"><button class="btn btn-warning">Cancel</button></td>
                    <td>
                        <button ng-click="commentCtrl.edit(item.id)" class="btn btn-sm btn-info">Edit</button>
                        <button ng-click="commentCtrl.delete(item.source_id)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content-footer row">
            <div class="col-md-12">
                <div class="pull-left">
                    <showing-page
                        page="commentCtrl.violation.pagination.page"
                        items="commentCtrl.violation.pagination.items"
                        count="commentCtrl.violation.pagination.count"
                        >
                </div>

                <div class="pull-right" ng-if="commentCtrl.showPagination()">
                    <pagination
                        boundary-links="true"
                        items-per-page="commentCtrl.violation.pagination.count"
                        total-items="commentCtrl.violation.pagination.items"
                        ng-model="commentCtrl.violation.pagination.page"
                        ng-change="commentCtrl.updateViolationList()"
                        num-pages="commentCtrl.violation.pagination.maxPages"
                        class="pagination-sm"
                        max-size='10'
                        rotate="false"
                        ></pagination>
                </div>
            </div>
        </div>
    </div>
</div>


