<div class="well">
    <div class="close">
        <i class="fa fa-close" ng-click="vCommentCtrl.closeWindow()"></i>
    </div>
    <h3>Violation details</h3>
    <hr>
    <table class="table table-bordered table-hover table-full-width table-striped">
        <tr>
            <td>Fields</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>Flag ID</td>
            <td>{{vCommentCtrl.violation.id}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{vCommentCtrl.violation.source.created_at|date: 'MM/dd/yyyy'}}</td>
        </tr>
        <tr>
            <td>Flag reporter</td>
            <td>{{vCommentCtrl.violation.user.first_name}} {{vCommentCtrl.violation.user.last_name}}</td>
        </tr>
        <tr>
            <td>Comment owner</td>
            <td>{{vCommentCtrl.violation.owner.first_name}} {{vCommentCtrl.violation.owner.last_name}}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{vCommentCtrl.violation.source.data}}</td>
        </tr>
    </table>
</div>
